@use 'sass:color';
@import './_variables';


.component {
  box-sizing: border-box;
  position: relative;
  border: 2px dashed transparent;
  user-select: contain;

  .name {
    display: inline-block;
    visibility: hidden;
    color: $white-color;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($component-color, 0.8);
    padding: 5px;
  }

  &:hover {
    border-color: rgba($component-color, 0.4);
    background-color: rgba($component-color, 0.4);

    .name {
      visibility: visible;
    }
  }

  &.active {

  }
}